.input {
  height: 40px;
  width: 400px;
  border-radius: 5px;
}

.btn {
  margin-left: 10px;
  height: 40px;
  width: 100px;
  background-color: lightgray;
  border-radius: 4px;
  font-weight: bold;
}
